.upper {
    background-color: #00bdc4;
    display: flex;
}

.bottom {
    background-color: rgba(0, 0, 0, .1);
    display: flex;
}

.post-body {
    background-color: #fff;
    min-width: 85%;
    margin: 30px auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    min-height: 300px;
    position: relative;
}

.comment-box {
    background-color: #fff;
    min-width: 85%;
    margin: 30px auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    min-height: 300px;
    padding: 10px;
}

.comment-box li {
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.comment-list {
    margin-top: 20px;
}

form {
    display: flex;
    margin-top: 20px;
}

form input {
    flex-grow: 1;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}

form input:focus {
    outline: 0;
}

form button {
    background-color: deeppink;
    margin-left: 10px;
    padding: 0 10px;
    border: none;
    line-height: 30px;
    outline: none;
    color: white;
}

.comment-box button:hover {
    cursor: pointer;
}

.comment-num {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    bottom: 10px;
    right: 10px;
}